.body-classic {
    background-image: url("./../../../data/images/banner/20.jpg");
    background-attachment: fixed;
    background-size: cover;
    height: auto;
}
.banner-picture {
    /* background-image: url('./../../../data/images/banner/20.jpg');
    background-size: cover; */
    height: 400px;
}
.are-main {
    height: auto;
    background-color: #f6f4f0 ;
    position: relative;
    border-radius: 6px;
}
.title-classic {
    text-align: center;
    padding-top: 3%;
    font-family: "Pacifico", cursive;
    color: white;
    font-size: 140px;
}
.detail-classic {
    font-family: "Pacifico", cursive;
    color: white;
    text-align: center;
    font-size: 40px;
}
.page-up {
    background-color: #fff;
    
}

.classic-title {
    text-align: center;
    font-size: 30px;
    font-family: "Pacifico";
    margin-top: 5%;
}
.classic-detail {
    text-align: center;
    padding: 3% 5% 0 5%;
    font-style: oblique;
    font-weight: 600;
}
.classic-bottom {
    text-align: center;
    margin: 5% 5% 3% 5%;
}

