.search-container{
    width: 70%;
    background: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 2%;
}
.search-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 5px;
    overflow: hidden;
}
.search-area,.date-pick,.pick-number{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.line{
    width: 20px;
    transform: rotate(90deg);
    /* border: 0.5px; */
    /* color:black !important; */
}
.icons{
    font-size: 30px;
    margin: 0 5px;
    color: rgb(41, 91, 41);
}
input,button{
    border: none;
    background: none ;
}
.submit{
    color:white;
    background-color:darkblue;
    padding: 17px 20px;
}