.each-slide{
    width: 1000px;
}
.homelist h3{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background: linear-gradient(to right,gray 10%, white);
}
.homemainlist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.homeimg{
    display: flex;
    justify-content: center;
}
.slide-container{
    position: relative;
    width: 100%;
}
.react-slideshow-container{
    width: 100vh;
}
#search{
    position: absolute;
    top:30%;
}

.suggest-tour{
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.suggest-title{
    font-style: italic;
    font-family: 'Shalimar', cursive;
    font-size: 110px;
}
.suggest-main{
    font-family: 'Shalimar', cursive;
    font-size: 32px;
    font-style: oblique;
}
.hr{
    width: 70%;
    border: 2px solid rgb(41, 91, 41);
    color: rgb(41, 91, 41);
    border-radius: 50%;
    margin: 0 auto;
}
