.each-slide{
    width: 1000px;
}
.homelist h3{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background: linear-gradient(to right,gray 10%, white);
}
.homemainlist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.homeimg{
    display: flex;
    justify-content: center;
}
.react-slideshow-container{
    width: 100vh;
}

.suggest-tour{
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.suggest-title{
    font-style: italic;
    font-family: 'Shalimar', cursive;
    font-size: 110px;
}
.suggest-main{
    font-family: 'Shalimar', cursive;
    font-size: 32px;
    font-style: oblique;
}

