.header{
    position: fixed;
    width: 100%;
    z-index: 1001;
}
a{
    text-decoration: none;
    color: white;
    font-weight:bold;
}
.header-bot{
    z-index: 2;
    position: relative;
    width: 100%;
    background:rgb(0, 0, 1,0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15%;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
/* .header-bot a{
    
} */
.header-bot .menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
}
.menu-li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: relative;
    transition: 1s;
}
.menu-li a{
    margin-right: 5px;
    font-weight: normal;
    color: white;

}
.menu-li svg{
    color: white;
    transition: 0.5s;
}
.menu-li:hover ,#active{
    background:rgb(0, 0, 1,0.2);
}
.menu-li:hover svg{   
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}

.log{
    margin: 0 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.log p{
    margin: 4px;
    padding: 11px ;
    background:rgb(4, 4, 4,0.5);;
    border-radius: 4px;
    color: aliceblue;
    
}
.log svg:hover{
    color:cornflowerblue;
}
.signin{
    border-right: 1px solid gray;
}
.post{
    margin-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}
.log svg{
   color: white;
}
.logout{
    border: none;
    background: none;
    font-weight: bold;
    padding: 0 10px;
    
}
/* .active{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
   background-image: url('./../Logo/logo-alt.png')
} */
.menu-li:hover .list-hidden{
    display: flex;
    top:100%;
}
.menu-li:hover .link-f{
    color: darkgoldenrod;
}
.list-hidden{
    display:none;
    position: absolute;
    top: 90%;
    z-index: 10;
    background:rgb(0, 0, 1,0.7);;
    transition: 1s;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;  
}
.list-hidden a{
    margin:10px 0px ;
    color: white;
}
.list-hidden a:hover {
    color: darkgoldenrod;
}

.list-mini{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid gray;
}
.list-mini a{
    padding: 10px;
    color: white;
    font-weight: normal;
    margin-right: 5px;
    border: 1px solid white;
}
.list-mini a:hover {
    color: darkgoldenrod;
}

.list-1{
    left:0%;
    width: 600px;
    padding: 10px;
}
.list-2, .list-3, .list-4 {
    left: 0%;
    width: 100%;
}

.list-2 a{
    width: 100%;
    border-top: 1px solid grey;
    margin: 0 auto;
    padding: 10px;
}

.list-3 a{
    width: 100%;
    border-top: 1px solid grey;
    margin: 0 auto;
    padding: 10px;
}

.list-4 a{
    width: 100%;
    border-top: 1px solid grey;
    margin: 0 auto;
    padding: 10px;
}

.list-country {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
    

/* find - phone css */
.phone-find-container{
    padding: 5px 0px;
    margin-right: 2%;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.find-container{
    width: 100%;
    border: 1px solid white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
}
.find-btn{
    color:white;
    
}
.find-container:hover{
    border:1px solid darkgoldenrod;
}
.find-container:hover svg,.find-container:hover button{
    color:darkgoldenrod;
}
.header-icon{
    color: white;
    margin-right: 10px;
}
.phone-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
}
.phone-container span{
    color: white;
}

#show{
    top:100%;/* right:100%; */
    position: absolute;
    transition: 0.5s;
}
#hidden{
    top:-200%;
    position: absolute;
    transition: 0.5s;
}

/* Log in css */
.log-container {
    display: flex;
    flex-direction: column;
    width: 10%;
    position: absolute;
    right: 0%;
    /* bottom: 0%; */
}
.log-link{
    padding: 10px;
    background:rgb(4, 4, 4,0.5);;
    border-bottom:1px solid gray;
    color: white;  
    
}
