.header{
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; */
    padding: 20px;
}
a{
    text-decoration: none;
    color: #000;
    font-weight:bold;
}
.header-top{
    display: flex;
    flex-direction: row;
    
}
.header-top .logo{
    margin-right:10%;
}
.header-bot{
    margin: 20px ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 50px;
    border-top: 2px solid darkgreen;

}
.header-bot a{
    padding: 20px 20px;

}
.header-bot .menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.header-bot .menu a:hover{
   border-bottom:2px solid green ;
   box-sizing: content-box;
}

.log{
    width: 30%;
}
.log{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.log a{
    padding: 20px 20px;
}
.signin{
    border-right: 1px solid gray;
}
.post{
    border: 1px solid grey;
    border-radius: 8px;
}