.search-component{
    width: fit-content;
    
}
.search-1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.search-1 .off{    
    padding: 10px;
    border: none;
    background-color: rgb(205, 218, 191);
    border-top-left-radius: 5px ;
    border-top-right-radius: 5px ;
}
.search-1 .on{
    padding: 10px;
    border: none;
    border-top-left-radius: 5px ;
    border-top-right-radius: 5px ;
    color: white;
    background-color: rgb(56, 75, 56);
}
.search-1 button:hover{
    color: white;
    background-color: rgb(56, 75, 56);
}
.search-2{
    width: 800px;
    background-color: rgb(56, 75, 56);
    padding: 10px;
    height: 91px;
    position: relative;
}
.search-2 input{
    /* width: 300px; */
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 100%;
}
.search-2 svg{

    color: white;

}

.search-2-icon{
    background-color: red;
    padding: 0 10px;
    color: white;
    border-radius: 3px;
    position: absolute;
    right: 20px;
    top:17px;
    cursor: pointer;
}
select{
    margin-top: 10px;
    border: 1px solid white;
    padding: 5px 30px;
    background-color: rgb(56, 75, 56);
    border-radius: 5px;
    color: white;
    margin-right: 20px;
}
.div-select{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}