.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  margin: 25px 0 0 0;
}

.banner-info {
  width: 100%;
}

.banner-img {
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: center center;
}

.ban-img {
  width: 100%;
  height: 550px;
  background-size: cover;
  background-position: center;
  filter: brightness(0.5);
}

.banner-content {
  font-family: Montserrat, Arial, sans-serif;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  top: 20px;
  bottom: 0;
  color: #fff;
  padding: 15px;
}

.banner-title {
  color: white;
  font-size: 32px;
  font-weight: 500;
  line-height: 35px;
}

.banner-security {
  font-size: 20px;
  font-weight: 400;
}

.banner-price {
  font-size: 16px;
  font-weight: 400;
}

.banner-options {
  font-size: 14px;
  font-weight: 400;
  padding: 8px 12px 8px 12px;
  border: 1px solid #ffffff !important;
  border-radius: 25px;
  margin-bottom: 15px;
}

.banner-options:hover {
  background-color: #b2c0cd9c;
  transition: 0.5s;
}

.banner-time {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-time > div > span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px 12px 12px;
}

div > span:nth-child(2) {
  font-size: 30px;
  font-weight: 600;
}

.banner-arrow {
  display: flex;
  align-items: center;
  font-size: 24px;
}

.travel-address {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.travel-intro {
  width: 85%;
  margin: 15px auto auto auto;
  padding-right: 15px;
  padding-left: 15px;
}

.travel-intro > .travel-title {
  font-family: "Reenie Beanie", cursive;
  font-size: 32px;
  font-weight: 300;
}

.travel-local {
  width: 85%;
  margin: 30px auto auto auto;
  padding-right: 15px;
  padding-left: 15px;
}

.local-list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.local-list > a {
  color: black;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 25px;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
  border-right: 1px solid #d0b316;
}

.local-list > a.active {
  opacity: 0.8;
  color: #d0b316;
}

.local-list > a:hover {
  text-decoration: none;
  opacity: 0.8;
  color: #d0b316;
}

.local-slide {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
  /* width: 1010px; */
  margin: 40px 0 40px 0;
  scroll-behavior: auto;
}

.slick-slide {
  padding: 10px;
  text-align: center;
}

.address {
  text-align: center;
  flex-direction: column;
}

.address-detail {
  width: 205px;
  height: 110px;
  text-align: center;
  border-radius: 10px;
  color: #fff;
}

.box-text {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  text-align: center;
  background-color: transparent;
}

.box-text > p {
  color: #fff !important;
  /* filter: brightness(0) contrast(200%) grayscale(100%); */
}

.name {
  font-family: Montserrat, Arial, sans-serif;
  width: 100%;
  font-size: 11px;
  font-weight: 600;
  align-items: center;
  text-transform: uppercase;
}

.name:after {
  display: block;
  text-align: center;
  max-width: 200px;
  height: 1px;
  background-color: #d0b316;
  margin: 4px 0 0 62px;
  content: "";
  width: 40%;
}

.box-text > p {
  letter-spacing: 2px;
  text-align: center;
  margin: 0;
}

.local-tooltip {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.icon-tooltip {
  font-size: 40px;
  margin: 10px 8px 10px 8px;
}

.icon-font {
  color: #c3bdbd;
}

.icon-tooltip > span {
  display: none;
}

.iconfont:hover {
  text-decoration: none;
  opacity: 0.8;
  color: #d0b316;
}

.paragraph {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  margin: 10px auto;
  line-height: 2;
  text-align: center;
  color: #333;
  width: 70%;
}

.inclusions-line {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.3;
  color: #000;
  width: 100%;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.inclusions-line:after {
  max-width: 200px;
  height: 1px;
  display: block;
  background-color: #d0b316;
  margin: 15px auto 20px;
  content: "";
  width: 40%;
}
